$base-turquoise: #d724ff;
$base-muted: #a6a8a9;
$base-color-black: #3d3d3d;

body {
  margin: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #9c27b0;

  &:hover {
    color: #9c27b0;
    text-decoration: underline;
  }
}

// .MuiButton-root{
//   a{
//     &:hover {
//        color: #fff;
//     }
//   }
// }

.login-button:hover, .basket-empty:hover {
  p {
    color: #fff !important;
  }
}


.login-button svg,
.logout-button svg {
  transition: transform 0.3s ease-in-out;
}

.login-button:hover svg {
  transform: translateX(5px);
}

.logout-button:hover svg {
  transform: translateX(-5px);
}

// .navbar-container{
//     img{
//         margin-right: 10px;
//         transition: transform 0.15s ease-in-out;

//         &:hover{
//             transform: scale(1.1);
//         }
//     }

//    .login-button:hover{
//         img{
//             transform: translateX(5px);
//         }
//     }

//     .logout-button:hover{
//         img{
//             transform: translateX(-5px);
//         }
//     }

//     .navbar-brand{

//         color: $base-turquoise !important;
//         font-weight: 800 !important;
//     }

//     .nav-link{
//          span{
//             color: $base-turquoise !important;
//            }
//     }
//     border-bottom: $base-turquoise 1px solid;
//  }

// .admin-container {
//     img{
//         margin-right: 10px;
//         transition: transform 0.15s ease-in-out;

//         &:hover{
//             transform: scale(1.1);
//         }
//     }
//     .logout-button:hover{
//         img{
//             transform: translateX(-5px);
//         }
//     }

// }

// .orders-container, .admin-container{
//     a{
//         color: $base-color-black !important;
//     }
// }

// Button{
//     &:hover{
//         background-color: darken($base-turquoise,5%) !important;
//     }

//     &:focus{
//         box-shadow:  0px 5px 10px 0px rgba($base-turquoise, 0.7) !important;
//     }

//     color: white !important;
//     background-color: $base-turquoise !important;
//     border: $base-turquoise !important;
//     border-radius: 6px !important;
//     font-weight: 600 !important;
// }

// .list-group-item{
//     border: none;

//     transition: transform 0.15s ease-in-out;

//         &:hover{
//             transform: scale(1.1);
//             color: $primary-color !important;
//         }

// }

// .list-group-item.active{
//     background-color: white !important;
//     border: 1px solid $primary-color;
//     box-shadow:  0px 5px 10px 0px rgba($primary-color, 0.7) !important;
//     color: $primary-color !important;
// }

// .card{

//     .card-body{

//         padding-top: 0px !important;
//     }

//     .card-title{
//         font-size: 19px;
//         font-weight: 800 !important;
//     }

//     .card-subtitle{
//         font-size: 16px;
//     }

// }

// .product-item{
//     transition: transform 0.15s ease-in-out;
//     &:hover{
//         transform: scale(1.1);
//         box-shadow:  0px 5px 10px 0px rgba($base-turquoise, 0.7) !important;
//     }
// }

// input{
//     &:focus{
//         box-shadow: none !important;
//         border:  1px solid $base-turquoise !important;

//     }

//     font-size: 14px !important;
//     font-style: normal !important;

// }
// a{
//     text-decoration: none;
//     color:white !important;

// }

// form{
//     a{

//         color:$base-turquoise !important;

//     }
//     .link-signup *, .link-login *{
//         font-size: 16px !important;
//     }

// }

// h3, h4, h5{
//     font-style: italic;
// }

// h5{
//     font-size: 17px !important;
// }

// table{
//     tr, th, tbody,thead{
//         border: none !important
//     }
//     border: none !important;

//     &>:not(:first-child) {
//         border-top: 1px solid $base-turquoise !important;
//     }

//     .button-quantity{
//         border-radius: 50% !important;
//         width: 30px;

//     }

//     .button-delete{
//         cursor: pointer;
//     }

//     .total-price{
//         color: $base-turquoise !important;
//     }
//     &>:not(caption)>*>* {
//         border:none  !important
//     }
// }

// .product{
//     .card{
//         padding: 0 5px;
//         width: 100% !important;
//         height: 100%!important;
//         object-fit: cover !important;

//     }
// }
// .empty{
//     height: 70vh;

//     p{
//         font-size: 30px;
//     }
// }

// .product-price{
//     color: $base-turquoise !important
// }

// .loader {
//     .spinner-grow{
//         background-color: $base-turquoise
//     }
//     width: 100%;
//     height:90vh;

// }

// .product-short-description{
//     border-bottom: 1px solid $base-turquoise;

//     .star{
//         cursor:pointer;

//     }

//     input[type=radio]{
//         display: none;
//     }

// }

// .accordion-button:not(.collapsed)::after {
//     background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill='white'%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e")
// }

// .accordion-button::after{
//     background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill='white'%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e")
// }

// li::marker{
//     color: $base-turquoise !important;
// }

//     .tooltip-inner {
//         background-color: $base-turquoise !important;
//         color:#FFFFFF !important
//       }

//     .tooltip-arrow::before {
//         border-bottom-color: $base-turquoise !important;

//     }

// .page-item.active .page-link {
//     color: #fff !important;
//     background-color: $base-turquoise !important;

//     border-color: transparent !important;
// }

// .page-link{
//     border-radius: 5px !important;
// }
// .pagination {
//     gap: 10px;
//     a{
//         color: $base-color-black !important;
//     }
// }
