$base-turquoise: #d724ff;
$base-muted: #a6a8a9;
$base-color-black: #3d3d3d;

body {
  margin: 0;
  background-color: #ffffff;
}

a,
.burger-button {
  text-decoration: none;
  color: #9c27b0;

  &:hover {
    color: #9c27b0;
    text-decoration: underline;
  }
}

.login-button:hover,
.basket-empty:hover {
  p {
    color: #fff !important;
  }
}

.login-button svg,
.logout-button svg {
  transition: transform 0.3s ease-in-out;
}

.login-button:hover svg {
  transform: translateX(5px);
}

.logout-button:hover svg {
  transform: translateX(-5px);
}
